<h1><%= @user.name %>さんのページ</h1>
<p>
<% if @user.image.present? %>
  <%= image_tag @user.image, class: "image_of_user" %>
<% else %>
  <%= image_tag 'camera.png', class: "image_of_user" %>
<% end %>
メールアドレス: <%= @user.email %></p>

<div class="favorites panel panel-default">
  <div class="panel-heading"><%= @user.name %>さんのお気に入りブログ一覧</div>
  <table class="table">
    <tr>
      <th>ブログタイトル</th>
      <th>ブログ作成者</th>
    </tr>
　　<% @favorite_blogs.each do |blog| %>
    <tr>
      <td><%= link_to "#{blog.title}",blog_path(blog.id) %></td>
      <td><%= User.find_by(id: blog.user_id).name %>さん</td>
    </tr>
    <% end %>
  </table>
  
